<footer class="navbar navbar-default" id="footer">
	<div class="col-xs-12 col-sm-push-7 col-sm-5">
		<a href="{{ path('core_home') }}" title="{{ 'core.footer.right_links.legal.title'|trans }}">
	      	{{ 'core.footer.right_links.legal.link'|trans }}
	    </a>
	    -
	    <a href="{{ path('core_home') }}" title="{{ 'core.footer.right_links.status.title'|trans }}">
	      	{{ 'core.footer.right_links.status.link'|trans }}
	    </a>
	    -
	    <a href="{{ path('core_home') }}" title="{{ 'core.footer.right_links.agency.title'|trans }}">
	      	{{ 'core.footer.right_links.agency.link'|trans }}
	    </a>
	</div>

	<div class="hidden-xs col-sm-2" id="footer-logo">
		{% image 'http://assets.fhuszti.tech/nao/logo.png' %}
        	<img src="{{ asset_url }}" alt="{{ 'core.site.logo'|trans }}" />
        {% endimage %}
	</div>

	<div class="col-xs-12 col-sm-pull-7 col-sm-5">
		<div class="hidden-xs col-sm-12">
			<a href="{{ path('core_home') }}" title="{{ 'core.footer.left_links.search.title'|trans }}">
		      	{{ 'core.footer.left_links.search.link'|trans }}
		    </a>
		    <br />
		    <a href="{{ path('core_home') }}" title="{{ 'core.footer.left_links.observations.title'|trans }}">
		      	{{ 'core.footer.left_links.observations.link'|trans }}
		    </a>
		    <br />
		    <a href="{{ path('core_home') }}" title="{{ 'core.footer.left_links.project.title'|trans }}">
		      	{{ 'core.footer.left_links.project.link'|trans }}
		    </a>
		</div>

		{{ 'core.footer.copyright'|trans }}
	</div>
</footer>
