    
<header>
	<div id="images">
		<div id="logo" class="col-sm-3">
			{% image 'http://assets.fhuszti.tech/nao/logo.png' %}
				 <img class="img-responsive" src="{{ 'http://assets.fhuszti.tech/nao/logo.png' }}" alt="{{'core.logo.alt'|trans}}" class="hidden-xs" />
			{% endimage %}
		</div>
		<div id="header-middle-text" class="col-sm-4">
			{% image 'http://assets.fhuszti.tech/nao/logo.png' %}
				 <img  class="img-responsive" src="{{ 'http://assets.fhuszti.tech/nao/header/header-middle-text.png' }}" alt="{{'core.header-middle-text.alt'|trans}}" class="hidden-xs" />
			{% endimage %}
		</div>
		<div id="header-birds-text" class="col-sm-5">
			{% image 'http://assets.fhuszti.tech/nao/logo.png' %}
				 <img id="image-right" class="img-responsive" src="{{ 'http://assets.fhuszti.tech/nao/header/header-birds-text.png' }}" alt="{{'core.header-middle-text.alt'|trans}}" class="hidden-xs" />
			{% endimage %}
		</div>
	</div>
	 <nav class="navbar navbar-inverse" id="navigationLogin">
        <div class="container-fluid" id="logo2">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" id="links">
                    <span id="icon-bar" class="f icon-bar"></span>
                    <span id="icon-bar" class="f icon-bar"></span>
                    <span id="icon-bar" class="f icon-bar"></span>
                </button>
                <p class="navbar-brand"><<<<</p>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="link">
                    	<a id="alink" href="{{ path('core_home') }}" title="{{ 'core.header.links.project.title'|trans }}">
			      			{{ 'core.header.links.project.link'|trans|upper }}
			    		</a>
                    </li> 
                    <li class="link">
                    	<a id="alink" href="{{ path('core_home') }}" title="{{ 'core.footer.links.search.title'|trans }}">
			      			{{ 'core.header.links.observation.link'|trans|upper }}
			    		</a>
                    </li>
                    <li class="link">
                    	<a id="alink" href="{{ path('core_home') }}" title="{{ 'core.footer.links.search.title'|trans }}">
			      			{{ 'core.header.links.search.link'|trans|upper }}
			    		</a>
                    </li>
                    <li class="link">
                    	<a id="alink" href="{{ path('core_home') }}" title="{{ 'core.footer.links.contact.title'|trans }}">
			      			{{ 'core.header.links.contact.link'|trans|upper }}
			    		</a>
                    </li>
                    <li class="link">
                    	<a id="alink" href="{{ path('core_home') }}" title="{{ 'core.footer.links.registration.title'|trans }}">
			      			{{ 'core.header.links.registration.link'|trans|upper }}
			    		</a>
                    </li>
                    <li class="link">
                    	<a id="alink" href="{{ path('core_home') }}" title="{{ 'core.footer.links.login.title'|trans }}">
			      			{{ 'core.header.links.login.link'|trans|upper }}
			    		</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>