<a href="{{ path('find') }}" id="precedent">Retourez aux résultats de la recherche</a><br />
<hr>
<h2>{{ bird.commonName }}</h2><br/>
{{ 'core.bird.desc.family'|trans }} : {{ bird.family }} <br/>
{{ 'core.bird.desc.rang'|trans }} : {{ bird.rank }} <br/>
{{ 'core.bird.desc.name_latin'|trans }} : {{ bird.latinName }} <br/>
{{ 'core.bird.desc.full_name'|trans }} : {{ bird.fullName }} <br/>
{{ 'core.bird.desc.common_name'|trans }} : {{ bird.commonName }} <br/>
<hr>
<div id="maps"></div>
<hr>
<h1>{{ 'core.bird.observation.title'|trans }}</h1><br/>

{% set observations = bird.observations %}
{% set imgs = [] %}

{% if observations is not empty %}
	{% set gps = [] %}
	{% for ob in observations %}
		{% set gps = gps|merge(['{lat:' ~ ob.lattitude ~ ', lng: ' ~ ob.longitude ~ ' },']) %}
		{% set imgs = imgs|merge([ob.image.image]) %}
		<p class="observation">{{ ob.country }} <b>{{ ob.date|localizeddate('none', 'none', null, null, 'd MMMM Y') }}</b><br />
			{{ ob.comment }}
		</p>
	{% endfor %}
	<a href="#" id="loadMore">Load More</a>
{% else %}
	<p>Il n'éxiste aucune observations liées à cet oiseau</p>
{% endif %}
<br />
{% if imgs is not empty %}
    	<div class="jcarousel-wrapper">
                <div class="jcarousel">
                    <ul>
                    	{% for key, imageUrl in imgs %}
                        <li><img src="{{ imageUrl }}" alt="Image {{ key }}"></li>
                        {% endfor %}
                    </ul>
                </div>

                <a href="#" class="jcarousel-control-prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <a href="#" class="jcarousel-control-next"><i class="glyphicon glyphicon-chevron-right"></i></a>

                <p class="jcarousel-pagination"></p>
            </div>
        </div>


{% endif %}

</div>
 {% if imgs is not empty %}

{% endif %}

{% block javascripts %}

    {% javascripts filter='?jsqueeze'
        'bundles/app/js/jquery.jcarousel.min.js'
        'bundles/app/js/jcarousel.responsive.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
 <script>


function initMap() {
	var map;
	map = new google.maps.Map(document.getElementById('maps'), {
      center: {lat: 46.227638, lng: 2.213749000000007},
	  zoom: 6,
	  mapTypeId: google.maps.MapTypeId.TERRAIN
	});
	{% if observations is not empty %}
	var zoneMarqueurs = new google.maps.LatLngBounds()
	var tableauMarqueurs = [

	{% for l_l in gps %}
   		{{ l_l }}
	{% endfor %}

	];
	for( var i = 0, I = tableauMarqueurs.length; i < I; i++ ) {

		var latlng = tableauMarqueurs[i],							//	var latlng = tableauMarqueurs[i],
			latitude = latlng["lat"],								//		latitude = latlng[0],
			longitude = latlng["lng"];								//		longitude = latlng[1];
	
		var optionsMarqueur = {
			map: map,
			position: new google.maps.LatLng( latitude, longitude ),
			animation: google.maps.Animation.DROP
		};
		var marqueur = new google.maps.Marker( optionsMarqueur );
		zoneMarqueurs.extend( marqueur.getPosition() );
		var content = "<h3>{{ bird.commonName }}</h3>"  

  		var infowindow = new google.maps.InfoWindow()
		google.maps.event.addListener(marqueur,'click', (function(marqueur,content,infowindow){ 
		        return function() {
		           infowindow.setContent(content);
		           infowindow.open(map,marqueur);
		        };
		    })(marqueur,content,infowindow));

	}
	map.fitBounds( zoneMarqueurs );
	{% endif %}
}
$('#precedent').click(function(e){
    e.preventDefault();
    $('#container_fiche').empty();
    $('#container_find').show('slow');
    return false;
});
if (typeof google === 'object' && typeof google.maps === 'object') {
 	initMap()
}
else {
	jQuery.getScript("https://maps.googleapis.com/maps/api/js?key=AIzaSyBYM7ehj93A-AEdTDupTMEL7wAgOHWCTxA&callback=initMap")
}


$(function () {
    $(".observation").slice(0, 1).show();
    $("#loadMore").on('click', function (e) {
        e.preventDefault();
        $(".observation:hidden").slice(0, 1).slideDown();
        if ($(".observation:hidden").length == 0) {
            $("#load").fadeOut('slow');
        }
        $('html,body').animate({
            scrollTop: $(this).offset().top
        }, 1500);
    });
});

</script>
