{{ 'core.login.modal.content'|trans }}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request" id="login_forgotten-pass-modal-form">
    <div class="form-group">
        <label for="username" class="col-sm-4">
        	{{ 'core.login.email.label'|trans }}
        </label>
        <div class="col-sm-8">
			<input type="text" id="username" name="username" placeholder="{{ 'core.login.email.placeholder'|trans }}" required="required" />
		</div>
    </div>
    <div>
        <button type="submit" class="btn btn-warning" id="login_forgotten-pass-modal-button" data-loading-text="<span class='glyphicon glyphicon-repeat'></span>">
        	{{ 'core.login.modal.button'|trans }}
        </button>
    </div>
</form>
