<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{asset('bundles/app/css/observation.css') }}">
    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyB1Z4LA0_Q-qH3Sfq-vIr3lShYnIwS1KUw&libraries=places">
    </script> 
    <script src="{{asset('bundles/app/js/autocomplete.js') }}"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
  <div id="containerPageObs" class="col-sm-12">
    <div class="row">
      <div id="title" class="col-sm-offset-1 col-sm-8">
        <div id="k">
          <p>Observation</p>
          <div id="imgObs">
            {% image 'http://assets.fhuszti.tech/nao/logo.png' %}
              <img class="img-responsive" src="{{ 'http://assets.fhuszti.tech/nao/second-menu/observation.png' }}" alt="{{'core.logo.alt'|trans}}" class="hidden-xs" />
            {% endimage %}
          </div>
        </div>
        <hr id="underline"  class="col-sm-8"/>
      </div>
    </div>
    <div class="row">
      <div id="containerObservation" class="col-sm-offset-1 col-sm-8">
        <div id="firstCorner" class="cornerSeparation">
          {% image 'http://assets.fhuszti.tech/nao/logo.png' %}
            <img class="img-responsive" src="{{ 'http://assets.fhuszti.tech/nao/separator-angle.png' }}" alt="{{'core.logo.alt'|trans}}" class="hidden-xs" />
          {% endimage %}
        </div>
        <div id="locationTitle" class="col-sm-offset-1">
          <p>LOCALITE *: Déplacer le marqueur sur la carte pour localiser le lieu de l'observation</p>
        </div>
        <div id="map"></div>
        <div class="row">
          <div class="col-xs-6">
            <a href="#" type="button"  onclick="initMap()">
              <div id="buttonGeolocation">
                <p></p>          
              </div>
            </a>
          </div>
          <div class="col-xs-6">
            <a href="#" type="button"  onclick="ioo()">
              <div id="buttonDisplayMap">
                <p></p>          
              </div>
            </a>
          </div>
        </div>
        <!-- {% form_theme form 'bootstrap_3_layout.html.twig' %} -->
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.longitude, { 'label_attr': {'class': 'longitude'} }) }}
        {{ form_row(form.lattitude, { 'label_attr': {'class': 'lattitude'} }) }}
        {{ form_row(form.country, { 'label_attr': {'class': 'country'} }) }}
        <div id="birdName">
          <div class="row">
            <div class="cornerSeparation">
              {% image 'http://assets.fhuszti.tech/nao/logo.png' %}
                <img class="img-responsive" src="{{ 'http://assets.fhuszti.tech/nao/separator-angle.png' }}" alt="{{'core.logo.alt'|trans}}" class="hidden-xs" />
              {% endimage %}
            </div>
            <div class="col-sm-offset-1">
              {{ form_label(form.birdName) }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-offset-3 col-sm-8">
              {{ form_widget(form.birdName) }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-offset-3 col-sm-8">
            <div class="list-group" id="results">
          </div>
        </div>
        <div id="date">
          <div class="row">
            <div class="cornerSeparation">
              {% image 'http://assets.fhuszti.tech/nao/logo.png' %}
                <img class="img-responsive" src="{{ 'http://assets.fhuszti.tech/nao/separator-angle.png' }}" alt="{{'core.logo.alt'|trans}}" class="hidden-xs" />
              {% endimage %}
            </div>
            <div class="col-sm-offset-1"">
              {{ form_label(form.date) }}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-offset-3 col-sm-8">
              {{ form_widget(form.date) }}
            </div>
          </div>
        </div>
        <div id="comment">
          <div class="row">
            <div class="cornerSeparation">
              {% image 'http://assets.fhuszti.tech/nao/logo.png' %}
                <img class="img-responsive" src="{{ 'http://assets.fhuszti.tech/nao/separator-angle.png' }}" alt="{{'core.logo.alt'|trans}}" class="hidden-xs" />
              {% endimage %}
            </div>
            <div class="col-sm-offset-1">
              {{ form_label(form.comment) }}
            </div>
          </div>
          <div class="row">
            <div id="textarea" class="col-xs-12 col-sm-offset-1 col-sm-10">
              {{ form_widget(form.comment) }}
            </div>
          </div>
        </div>
        <div id="image">
          <div class="row">
            <div class="col-sm-offset-1">
              <div class="cornerSeparation">
                {% image 'http://assets.fhuszti.tech/nao/logo.png' %}
                  <img class="img-responsive" src="{{ 'http://assets.fhuszti.tech/nao/separator-angle.png' }}" alt="{{'core.logo.alt'|trans}}" class="hidden-xs" />
                {% endimage %}
            </div>
              {{ form_label(form.image) }}
            </div>
          </div>
          <div class="row">
            <div class="col-sm-offset-1 col-sm-2">
              {{ form_widget(form.image) }}
            </div>
            <div id="imageBlock" class="col-sm-offset-2 col-sm-3">
              <img id="aperçuImage" src="#" alt="" />
            </div>   
          </div>
        </div>
        <div id="save" class="col-sm-offset-4 col-sm-4">
          {{ form_row(form.save) }}
        </div>
          {{ form_rest(form) }}
          {{ form_end(form) }}
      </div>
      <div id="thanks" class="col-sm-offset-1 col-sm-8">
        <p>Merci !</p>
        <p>Votre observation vient d'être envoyée, elle va être soumise à validation par nos profesionnels avant édition sur notre site.</p>
        <p>Vous serez notifié de sa validation dans vorte espace personnel.</p>
        <div id="blocNewObservationButton" class="col-sm-offset-4 col-sm-4">
          <a href="#" type="button" >
            <div id="newObservationButton">
               Saisir une autre observation
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <script src="{{asset('bundles/app/js/autocomplete.js') }}"></script>
  <script src="{{asset('bundles/app/js/datepicker.js') }}"></script>
  <script src="{{asset('bundles/app/js/previewImage.js') }}"></script>
  <script src="{{asset('bundles/app/js/geolocation.js') }}"></script>
  <script src="{{asset('bundles/app/js/marker.js') }}"></script>
  <script src="{{asset('bundles/app/js/map.js') }}"></script>
  <script src="{{asset('bundles/app/js/geocoding.js') }}"></script>
  <script> 
  var pathControllerObservation = '{{ path('app_observation') }}';
  var pathControllerSearch = '{{ path('search') }}';
  </script>
  <script src="{{asset('bundles/app/js/ajax.js') }}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyClMpsB5o4zV5aVVxdivP39F_QuXZ5RSEM&libraries=places&callback=initAutocomplete"
         async defer></script>
  </body>
</html>

