<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{asset('bundles/app/css/observation.css') }}">
    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyB1Z4LA0_Q-qH3Sfq-vIr3lShYnIwS1KUw&libraries=places">
    </script> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
  <div class="row">
  <div class="col-lg-4">
    <div id="containerObservation">
      <div id="map"></div>
      <div class="row">
        <div class="col-xs-6">
          <a href="#" type="button"  onclick="initMap()">
            <div id="buttonGeolocation">
              <p></p>          
            </div>
          </a>
        </div>
        <div class="col-xs-6">
          <a href="#" type="button"  onclick="ioo()">
            <div id="buttonDisplayMap">
              <p></p>          
            </div>
          </a>
        </div>
      </div>
      <!-- {% form_theme form 'bootstrap_3_layout.html.twig' %} -->
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.longitude, { 'label_attr': {'class': 'longitude'} }) }}
        {{ form_row(form.lattitude, { 'label_attr': {'class': 'lattitude'} }) }}
      <div id="birdName">
        <div class="row">
          <div class="col-lg-12">
            {{ form_label(form.birdName) }}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            {{ form_widget(form.birdName) }}
            <hr >
          </div>
        </div>
      </div>
      <div id="date">
        <div class="row">
          <div class="col-lg-12">
            {{ form_label(form.date) }}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            {{ form_widget(form.date) }}
            <hr >
          </div>
        </div>
      </div>
      <div id="comment">
        <div class="row">
          <div class="col-lg-12">
            {{ form_label(form.comment) }}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            {{ form_widget(form.comment) }}
            <hr >
          </div>
        </div>
      </div>
      <div id="image">
        <div class="row">
          <div class="col-lg-12">
            {{ form_widget(form.image) }}
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            {{ form_label(form.image) }}
            <div id="imageBlock">
            <img id="aperçuImage" src="#" alt="" />
            <hr >
            </div>
          </div>
        </div>
      </div>
      <div id="save">
        {{ form_row(form.save) }}
        <hr>
      </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}

    </div>
  </div>

    <script src="{{asset('bundles/app/js/datepicker.js') }}"></script>
    <script src="{{asset('bundles/app/js/previewImage.js') }}"></script>
    <script src="{{asset('bundles/app/js/geolocation.js') }}"></script>
    <script src="{{asset('bundles/app/js/marker.js') }}"></script>
    <script type="text/javascript">
   $("form").on("submit",function(e) {
        e.preventDefault();
        var form = $(this);
        var values = {};   
        $.each( form.serializeArray(), function(i, field) {    
         values[field.name] = field.value;   });
        $.ajax({
          url : '{{ path('app_observation') }}',
          type : 'POST', 
          // dataType: "json",
          data : values,
          success :function(e) {
            console.log(e);
              $("#containerObservation").hide(1000);
               $("#containerObservation").show(1000);
          }
        });
        });
    </script>
  </body>
</html>


<!-- {{ form_start(form, { 'attr': {'onsubmit':'validateForm();'} }) }} -->


   <!-- 'observation_longitude=' + longitude + '&observation_lattitude=' + lattitude + '&observation_birdName=' + birdName + '&observation_date=' + date + '&observation_comment=' + comment + '&observation_image_file=' + image,    -->