<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{asset('bundles/app/css/main.css') }}">
    <link href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet" type="text/css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyB1Z4LA0_Q-qH3Sfq-vIr3lShYnIwS1KUw&libraries=places">
    </script> 
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div id="containerObservation">
      <div id="map"></div>
      <div id="expand-map">Expand</div>
      <input type="button" value="Se géolocaliser" onclick="initMap()" />
      <input type="button" value="Se géser" onclick="ioo()" />
        {{ form_start(form) }}
        {{ form_errors(form) }}
        {{ form_row(form.longitude, { 'label_attr': {'class': 'longitude'} }) }}
        {{ form_row(form.lattitude, { 'label_attr': {'class': 'lattitude'} }) }}
      <div id="birdName">
        {{ form_row(form.birdName) }}
        <hr >
      </div>
      <div id="date">
        {{ form_row(form.date) }}
         <hr>
      </div>
      <div id="comment">
        {{ form_row(form.comment) }}
         <hr/>
      </div>
      <div id="image">
        {{ form_row(form.image) }}
        <img id="aperçuImage" src="#" />
        <hr>
      </div>
      <div id="save">
        {{ form_row(form.save) }}
        <hr>
      </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>

    <script src="{{asset('bundles/app/js/datepicker.js') }}"></script>
    <script src="{{asset('bundles/app/js/previewImage.js') }}"></script>
    <script src="{{asset('bundles/app/js/geolocation.js') }}"></script>
    <script src="{{asset('bundles/app/js/marker.js') }}"></script>
  </body>
</html>


